{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('login/style.css') }}">

<body class="login-body">
    <a href="{{ path('app_accueil') }}" class="back-button">
        <img src="{{ asset('/image/Illustration_sans_titre 12.png') }}" alt="Retour" class="back-icon">
    </a>

    <div class="login-container">
        <div class="login-card">
            <h1 class="login-title">Connecte toi !</h1>

            {% if error %}
                <div class="alert alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="alert alert-info">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <form method="post" class="login-form">
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="_password" id="password" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                <button type="submit" class="login-button">
                    Se connecter
                </button>
            </form>
        </div>
    </div>
</body>
{% endblock %}
