{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="actions" style="margin-top: 1rem;">
        <button><a class="btn btn-secondary" href="{{ path('app_accueil') }}">Aller à l'accueil</a></button>
    </div>
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            'label': 'Password'
        }) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.dateNaissance) }}
        {% if type == "pro" %}
            {{ form_row(registrationForm.experience) }}
            
        {% endif %}

        {# CSRF token explicit to avoid auto-rendering other fields #}
        {{ form_row(registrationForm._token) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm, { render_rest: false }) }}

    
{% endblock %}
