{% extends 'base.html.twig' %}

{% block title %}Hello ContenuPhotoController!{% endblock %}

{% block body %}
<h1>Ajouter une photo</h1>
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

{{ form_start(form,{'attr':{'enctype':'multipart/form-data'}}) }}
    {{ form_row(form.description) }}
    {{ form_row(form.photo) }}
    <button type="submit" class="btn btn-primary">Ajouter</button>
{{ form_end(form) }}
{% endblock %}
