{% extends 'base.html.twig' %}

{% block title %}Parametre{% endblock %}

{% block body %}

<h1>Parametre</h1>

{%for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}

{{ form_start(form) }}
{{ form_row(form.nom) }}
{{ form_row(form.email) }}
{{ form_row(form.description) }}
{{ form_row(form.profilImage) }}
{% if app.user.profilImage %}
    <img src="{{ asset('uploads/' ~ app.user.profilImage) }}" alt="Photo de profil" width="150" />
{% else %}
    <p>Aucune photo de profil</p>
{% endif %}

{{ form_row(form.telephone) }}
{{ form_row(form.adresse) }}
{{ form_row(form.codePostal) }}
{{ form_row(form.ville) }}
{{ form_row(form.pays) }}
{{ form_row(form.style) }}
{{ form_row(form.experience) }}
<button type="submit" class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}


{% endblock %}
