{% extends 'base.html.twig' %}

{% block title %}Hello CompteClientController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('profils pro/style.css') }}">
<script src="{{ asset('profils pro/script.js') }}"></script>
<head>
    <meta charset="UTF-8">
    <title>Compte client</title>
    <link rel="stylesheet" href="./accueil/style.css">
    </head>

    <h1>Bienvenue sur votre compte client {{ user.nom }}</h1>
<body>
   <div class="profile-info">
    <p><strong>Nom :</strong> {{ user.nom }}</p>

  

    {% if user.profilImage %}
        <img src="{{ asset('uploads/' ~ user.profilImage) }}" alt="Photo de profil" width="150" />
    {% else %}
        <p>Aucune photo de profil</p>
    {% endif %}
</div>


    <button type="submit"><a href="{{ path('app_messagerie') }}" class="btn">messagerie</a></button>
    <button type="submit">recherche</button>
    <button type="submit"><a href="{{ path('app_parametre_client') }}" class="btn">parametre</a></button>
    <button type="submit"><a href="" class="btn">Publication Liké</a></button>
    

    

    



    

    
        





    <body> 
{% endblock %}
